html {
    font-family: sans-serif;
}

body{
    margin: 0;
    background-image: url("../img/watercolor-bg.png");
    background-repeat: no-repeat;
    background-size: 100%; /*streaches image to cover whole screen*/
    background-attachment: fixed;
}

#logo {
    width: 450px;
    position: absolute;
    left: 50%; /*part 1 of centering an absolutely positioned element: pushes it a bit to far left*/
    margin-left: -225px; /*part 2 of centering an absolutely positioned element: pushes it back to the right a bit*/
    z-index: -1;
}

/***********START NAV************/

.current { /*highlight the current page of the nav*/
    color: #396509;
    font-weight: bold;
}

ul {
    display: inline;
    padding: 0;
}

#nav-left, #nav-right {
    display: inline; /*by default these are display block, putting them on top of eachother*/
} 

#nav-right ul{
    float: right;
    margin-right: 60px;
}
#nav-left ul{
    float: left;
    margin-left: 60px;
}

nav li {
    display: inline-block;
    padding: 35px;
    font-size: 25px;
    margin-top: 220px; /* pushes the text into the middle of the logo area*/
    
}
nav a {
    color: #611b15;
}

nav {
    z-index: 2;
}
/***********END NAV************/


a {
    text-decoration: none; /*remove underline*/
}
ul li {
    list-style-type: none; /*remove bullets from lists*/
}
#top-container {
    /* background: lightgrey; */
    width: 1400px; 
    height: 100%;
    left: 50%;
    margin-left: -700px;
    position: absolute;
    z-index: 0;
    background-image: url("../img/pines.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

#main-container {
    width: 1400px; 
    height: 100%;
    left: 50%;
    margin-left: -700px;
    position: absolute;
    z-index: 0;
    margin-top: 400px

}


header {
    margin-bottom: 200px; /*compensating for the nav's negative top margin. needs to be the same value, but positive. */
    /* background: red; */

    

}

#content {
    position: absolute;
    margin-top: 200px;

}


/************START POSTS***********/


.posts img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* #latest img {
    width: 100%;
    height: 200px;    
} */

.posts li {
    /* background: gray; */
    width: 30%;
    height: 300px;
    margin: 10px;
    display: inline-block;;
    color: #611b15;
    text-align: center;

}

.posts a {
    color: #611b15;
    font-weight: bold;
    text-decoration: underline;
}

.posts p{
    padding-top: 15px;
}

.post-textbox{
    background-color: RGBA(255,255,255,0.8);
    /* width: 400px; */
    height: 100px;
    margin-top: -116px; /*pulls the text box up to partially cover the image*/
    position: relative; /*puts the textbox infront of the image, similar to using z index*/
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.64);
}


