---
layout: default
titleAfter: Premaculture and regenerative earth sills development.
meta: Topics range from Permaculture and Rewilding, to Art, Philosophy and Activism.
---

<!-- <p>A blog about developing regenerative earth skills.</p> -->


<!-- The latest "featured" article -->
<ul id="latest">
    {% for post in site.posts limit: 1 %}
        <li>
            <img src="{{post.image}}">
            <div class="post-textbox latest-textbox">
                <p>Latest Article:</p>
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            </div>
        </li>
    {% endfor %}
</ul>



<ul class="posts">
    {% for post in site.posts limit: 9 %}
        <li>
            <a href="{{site.baseurl}}{{post.url}}"><img src="{{post.image}}"></a>
            <div class="post-textbox">
                <p>Caregory: <a href="{{post.category}}.html">{{post.category}}</a></a></p>
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            </div>
        </li>
    {% endfor %}
</ul>
