<nav>
    <ul>
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/permaculture.html" class="{% if page.url contains 'permaculture' %}current{% endif %}">Permaculture</a></li>
        <li><a href="{{site.baseurl}}/arts.html" class="{% if page.url contains 'arts' %}current{% endif %}">Arts</a></li>
        <li><a href="{{site.baseurl}}/rewilding.html" class="{% if page.url contains 'rewilding' %}current{% endif %}">Rewilding</a></li>
        <li><a href="{{site.baseurl}}/activism.html" class="{% if page.url contains 'activism' %}current{% endif %}">Activism</a></li>
        <li><a href="{{site.baseurl}}/philosophy.html" class="{% if page.url contains 'philosophy' %}current{% endif %}">Philosophy</a></li>
        <li><a href="">Search</a></li>
    </ul>
</nav>