<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {% endif %} Earthly Wilds{% if page.titleAfter %} - {{page.titleAfter}}{% endif %}</title>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--enables responsive layout on smartphones-->
    <meta name="description" content="{{page.meta}}">
</head>
<body>
    <div id = "top-container"> 
        <header>
            <a href="{{site.baseurl}}/" id="home-link">
                <img src="{{site.baseurl}}/img/logo.png" id="logo">
            </a>
            <a href="{{site.baseurl}}/search.html" class="fa fa-search" id="search-icon"></a>
            <div id="menu-toggle">
                <label for="hamburger" id="hamburger-icon">&#9776;</label>
                <input type="checkbox" id="hamburger"/>
                {% include nav.html %} <!-- the nav has to be inside of the hamburger toggle-->
            </div>

            
        </header>

    </div>

    <div id="main-container">
        <div id="content">
            {{content}}
        </div>
    </div>
</body>
</html>