<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} - {% endif %} Earthly Wilds{% if page.titleAfter %} - {{page.titleAfter}}{% endif %}</title>
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
</head>
<body>
    <div id = "top-container"> 
        <header>
            <a href="#" class="fa fa-search" id="search-icon"></a>
            {% include nav.html %}
            <a href="{{site.baseurl}}/" id="home-link">
                <img src="{{site.baseurl}}/img/logo.png" id="logo">
            </a>
            
        </header>

    </div>

    <div id="main-container">
        <div id="content">
            {{content}}
        </div>
    </div>
</body>
</html>